/********************************************
*
* @project    AVfans disclaimer
* @Author     Elmo Wu
* @version    1.0 - 201804
*********************************************/

html { font-size:62.5% }
body{
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#010A13), to(#030F1B));
    background: -webkit-linear-gradient(left, #010A13, #030F1B);
    background: -moz-linear-gradient(left, #010A13, #030F1B);
    background: -o-linear-gradient(left, #010A13, #030F1B);
    background: -ms-linear-gradient(left, #010A13, #030F1B);
    background: linear-gradient(left, #010A13, #030F1B);
    background-color: #010A13;
	font-family: "微軟正黑體","Microsoft JhengHei","新細明體","PMingLiU", Arial, Helvetica, sans-serif;
	font-size: 1rem; 
	line-height:22px;
	color:#fff}
a:link {text-decoration:none; color:#006bab}
a:visited {text-decoration:none; color:#666}
a:hover {text-decoration:underline; color:#F50}
form{margin:0; padding:0}
image{border:0}

.clean{ clear:both}
.hidden{ display:none}

#wrap{ 
    display:block;
    width:1200px;
    min-height: 1664px;
    margin:0 auto;
    background: url(../images/bg_page.jpg) no-repeat}
#box_top,
#box_middle,
#box_down,
#box_footer{
    display: block;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0}
#box_top{
    height: 644px;
    /*background: url(../images/bg_01.jpg) no-repeat*/}
#box_middle{
    height: 566px;
    padding-top: 25px;
    /*background: url(../images/bg_02.jpg) no-repeat*/}
#box_down{
    height: 454px;
    /*background: url(../images/bg_03.jpg) no-repeat*/}
#box_footer{
    height: 138px;
    padding-top: 36px;
    background: #1f1f1f}
#ticrf-left,
#ticrf-right{
    display: block;
    position: absolute;
    top:392px;
    width: 181px;
    height: 252px;
    padding-top: 195px;
    font-size: 1.6rem;
    line-height: 22px;
    color: black}
#ticrf-left{
    left: 60px;
    padding-left: 30px;
    background: url(../images/bg_trcif-01.png) no-repeat}
#ticrf-right{
    right: 60px;
    padding-left: 20px;
    background: url(../images/bg_trcif-02.png) no-repeat}

#disclaimer-info{
    display: block;
    width: 1030px;
    /*height: 530px;*/
    margin: 0 auto 30px auto;
    padding: 62px 60px 60px;
    background: rgba(256, 256, 256, .3);
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px}
#disclaimer-info h1{
    display: block;
    position: absolute;
    top: -30px;
    left: 418px;
    width: 364px;
    height: 90px;
    background: url(../images/title.png) no-repeat;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden}
#disclaimer-info p,
#disclaimer-info li{
    font-size: 2.05rem;
    line-height: 40px;
    color: black}
#disclaimer-info li{
    padding-top: 20px}

#link-01 a,
#link-02 a{
    display: block;
    width: 394px;
    height: 394px;
    margin: 25px 0 0 135px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    transition-duration:1s}
#link-01 a{
    background: url(../images/btn_link-01.png) no-repeat}
#link-02 a{
    background: url(../images/btn_link-02.png) no-repeat}
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  /*box-shadow: 0 0 1px transparent;*/
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1)}

#box_footer p{
    display: block;
    width: 88%;
    margin: 0 auto;
    font-size: 1.6rem;
    line-height: 30px;
    letter-spacing: 1px;
    color: white}
#box_footer span{ margin-left: 10px}