/********************************************
*
* @project    pandroa
* @Author     Elmo Wu
* @version    1.0 - 201801
*********************************************/

html { font-size:62.5% }
body{
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#010A13), to(#030F1B));
    background: -webkit-linear-gradient(left, #010A13, #030F1B);
    background: -moz-linear-gradient(left, #010A13, #030F1B);
    background: -o-linear-gradient(left, #010A13, #030F1B);
    background: -ms-linear-gradient(left, #010A13, #030F1B);
    background: linear-gradient(left, #010A13, #030F1B);
    background-color: #010A13;
	font-family: "微軟正黑體","Microsoft JhengHei","新細明體","PMingLiU", Arial, Helvetica, sans-serif;
	font-size: 1rem; 
	line-height:22px;
	color:#fff}
a:link {text-decoration:none; color:#006bab}
a:visited {text-decoration:none; color:#666}
a:hover {text-decoration:underline; color:#F50}
form{margin:0; padding:0}
image{border:0}

.clean{ clear:both}
.hidden{ display:none}

#wrap{ 
    display:block;
    position: relative;
    width:1748px;
    height: 1212px;
    margin:0 auto;
    background: url(../images/bg.jpg) no-repeat }
h1{
    display: block;
    margin: 0 auto 0 auto;
    padding-top: 50px;
    width: 740px;
    height: 135px;
    font-size: 3.3rem;
    font-weight: normal;
    letter-spacing: 3px;
    color:#a4e1ec;
    text-align: center}
#logo{
    display: block;
    position: absolute;
    top: 481px;
    left: 651px;
    background: url(../images/logo.jpg) no-repeat;
    width: 454px;
    height: 242px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden}
#box-mushroomer{
    display: block;
    position: absolute;
    top:135px;
    left: 240px;
    background: url(../images/bg_mushroomer.jpg) no-repeat;
    width: 394px;
    height: 293px;
    overflow: hidden}
#mushroomer{
    display: block;
    position: absolute;
    top:-10px;
    left: 0px;
    width: 257px;
    height: 293px;
    background: url(../images/mushroomer.png) no-repeat}
#cover{
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 99;
    background: url(../images/cover_mushroomer.png) no-repeat;
    width: 345px;
    height: 293px}
nav{
    display: block;
    position: absolute;
    top:428px;
    left: 188px;
    width: 448px;
    height: 760px}
.nav-01 a, .nav-01 a:hover, .nav-02 a, .nav-02 a:hover, .nav-03 a, .nav-03 a:hover, .nav-04 a, .nav-04 a:hover{
    display: block;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    background: url(../images/bg_nav.png) no-repeat}
.nav-01 a{
    width: 448px;
    height: 141px;
    background-position: 0 0}
.nav-01 a:hover{background-position: -448px 0}
.nav-02 a{
    width: 448px;
    height: 155px;
    background-position: 0 -141px}
.nav-02 a:hover{ background-position: -448px -141px}
.nav-03 a{
    width: 448px;
    height: 173px;
    background-position: 0 -296px}
.nav-03 a:hover{ background-position: -448px -296px}
.nav-04 a{
    width: 448px;
    height: 149px;
    background-position: 0 -468px}
.nav-04 a:hover{ background-position: -448px -468px}
#footer{
    display: block;
    position: absolute;
    top:1090px;
    left: 456px;
    width: 830px;
    font-size: 1.6rem;
    line-height: 2.2rem;
    color: #fff;
    text-align: center}
#footer span{
    font-size: 1.3rem;
    color: #a4e1ec}



.animated {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both}
.animated.infinite {
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite}
.animated.hinge {
  -webkit-animation-duration: 2s;
          animation-duration: 2s}



@keyframes float {
  0% {
    transform: translate3d(0, -30px, 0);
  }

  50% {
    transform: translate3d(0, 0, 0);
  }
    
   100% {
    transform: translate3d(0, -30px, 0);
  }
}

.myfloat{
   -webkit-animation-name: float;
   animation-name: float;
    -webkit-animation-duration: 1500ms;
    -moz-animation-duration: 1500ms;
	animation-duration: 1500ms;
   -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite 